<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <module name="TreeWalker">

        <!-- Use Default indentation checking -->
        <module name="Indentation"/>

        <!-- Methods are camelCase -->
        <module name="MethodName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>

        <!-- Classes are CapitalAtEveryNewWord -->
        <module name="TypeName">
            <property name="format" value="^[A-Z][a-zA-Z0-9]*$" />
        </module>

        <!-- Enforce camelCase for local variables -->
        <module name="LocalVariableName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>

        <!-- Enforce camelCase for instance variables -->
        <module name="MemberName">
            <property name="format" value="^[a-z][a-zA-Z0-9]*$" />
        </module>

        <!-- Enforce camelCase for constants -->
        <module name="ConstantName">
            <property name="format" value="^[a-z][A-Z0-9_]*$" />
        </module>

    </module>
</module>
