:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg: #ddd;
  --button-text: #000;
}

[data-theme="dark"] {
  --background-color: #121212;
  --text-color: #ffffff;
  --button-bg: #3a3a3a;
  --button-text: #ffffff;
}

body {
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

